:marked
  ## In the wild
  ### Termine und Konferenzen

  - [webinale 2017: Design, Development und Dazwischen](https://webinale.de/session/design-development-und-dazwischen/)
  - [eCommerce Camp 2017: 7 Tricks für früheren Feierabend und Kunden, die Dich als Rockstar feiern](https://www.ecommerce-camp.de/redner-sessions/sessions-2017/)
  - [Berlin Ops 2016: Design, Development und Dazwischen](http://www.berlinops.de/talk/design-development-und-dazwischen-gemeinsam-besser-schneller-und-nachhaltiger-sites-apps-und-shops-bauen/)
  - [Webmontag Bremen III/2016: Design, Development und Dazwischen](http://webmontag-bremen.de/events/2016-03)
