.people#wir
  .wrap
    .container
      .block.person
        :marked
          #### [Jan Persiel](http://janpersiel.com/)
          
          Jan Persiel betreibt in Hamburg das Designstudio Persiel. Weiter arbeitet
          er auch freiberuflich als Designer und Trainer für Verlage, Agenturen sowie
          Softwarehäuser.
            
          Sein Fokus ist neben medienadäquaten Umsetzungen und Entwicklungen von
          Marken im digitalen Raum, die Konzeption und Gestaltung von Strukturen und
          Interfaces für Websites, Shops und anderen Plattformen.
          
      .block.person
        :marked
          #### [Dennis Reimann](https://dennisreimann.de/)
          
          Dennis Reimann ist freiberuflicher Software&shy;entwickler. Er unterstützt
          Unternehmen und Teams bei der Realisierung von komplexen Webanwendungen –
          und dabei, das harte Webwork-Business mit Humor zu nehmen.
          
          Sein Schwerpunkt liegt im Frontend: Styleguides sind seine Bett-Lektüre,
          Performance und User Experience über den Standard hinaus sein Anspruch.

.end
  .wrap
    .container
      .block
        a(href="http://janpersiel.com/") Jan Persiel
        br
        | Persiel Designstudio
        br
        | Falkenried 74a
        br
        | 20251 Hamburg
          
      .block
        a(href="https://dennisreimann.de/") Dennis Reimann
        br
        | Softwareentwickler
        br
        | Ottjen-Aldag-Str. 32
        br
        | 28277 Bremen
        
    .legal
      :marked
        Zusammen setzen wir uns für die enge Zusammenarbeit von Design und Entwicklung ein.
        Wir betreiben kein gemeinsames Unternehmen und sind auch im Rahmen dieser Initiative als Einzelunternehmer tätig. Bei Anfragen für Workshop, Schulungen und Projekte erreichen Sie uns gerne über unsere jeweiligen Websites.
