doctype html
html(lang="de")
  head
    title UI Engineering • Design und Entwicklung
    meta(name="description" content="Dennis Reimann ist freiberuflicher Softwareentwickler für Webanwendungen: Frontend-Entwicklung mit JavaScript, CSS und HTML.")
    meta(name="keywords" content="Responsive,JavaScript,Elm,CSS,HTML,HTML5,Mobile")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="preload" as="font" type="application/font-woff" crossorigin href=h.assetUrl("fonts/DINWeb-CondBold.woff"))
    link(rel="preload" as="font" type="application/font-woff" crossorigin href=h.assetUrl("fonts/DINWeb-Light.woff"))
    link(href=h.assetUrl("styles/main.css") media="all" rel="stylesheet")
  body.overall
    header.header: include header
    main.main: block main
    footer.footer: include footer
        
