doctype html
html(lang="de")
  head
    title UI Engineering • Design und Entwicklung
    meta(name="description" content="Dennis Reimann ist freiberuflicher Softwareentwickler für Webanwendungen: Frontend-Entwicklung mit JavaScript, CSS und HTML.")
    meta(name="keywords" content="UI Engineering,Design,Development,Frontend,RWD,PatternLab,Pattern Library,Styleguide,Responsive,JavaScript,Elm,CSS,HTML,HTML5,Mobile")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300i,400,800" rel="stylesheet")
    link(href=h.assetUrl("styles/main.css") rel="stylesheet")
  body.overall
    header.header: include header
    main.main: block main
    footer.footer: include footer
        
