extends includes/layout

include /footer/footer
include /header/header
include /main/main
include /navigation/navigation

block body
  +navigation()

  +header(header)

  +main()
    block main

  +footer()
