extends includes/layout

include /footer/footer.pug
include /header/header.pug
include /main/main.pug
include /navigation/navigation.pug

block body
  +navigation()

  +header(header)

  +main()
    block main

  +footer()
