extends ../templates/page

include /cta/cta.pug
include /episodelist/episodelist.pug
include /player/player.pug
include /section/section.pug

block vars
  - const title = "UI engineering Podcast: Die Zusammenarbeit von Design und Entwicklung"
  - const podcastFeedPath = "/podcast.xml"
  - const header = { title: "Podcast", type: "podcast" }

block meta
  meta(name="description" content="Im UI engineering Podcast geht es um die Zusammenarbeit von Design und Entwicklung.")
  meta(name="keywords" content="uiengineering,podcast,design,frontend,entwicklung,css,styleguide,patternlibrary,atomicdesign,styletiles")
  link(href=podcastFeedPath rel="alternate" type="application/rss+xml")

block main
  - const seasons = mvb.groupedArticles.bySeason.reverse()
  +section(true)
    :marked
      ## Der UI engineering Podcast

      Wir, das sind Dennis Reimann und Jan Persiel, setzen uns dafür ein, durch die enge Zusammenarbeit
      von Design und Entwicklung schneller bessere und nachhaltigere Ergebnisse zu erzielen.
      Im UI engineering Podcast geht es um Best Practices, Workflows und Tools die zu einem besseren
      Miteinander von Design und Entwicklung beitragen.

    +cta("Abonnieren / XML", podcastFeedPath)(target="uie-feed")

  +section(true)
    h2 Aktuelle Episode
    +player(seasons[0].articles[0])

  +section(true)
    each episodesBySeason in seasons
      - episodes = episodesBySeason.articles
      section
        +episodeList(episodes, h.shortIdToGerman(episodesBySeason.season), `${episodes.length} ${episodes.length == 1 ? "Episode" : "Episoden"}`)
