.remark
  line-height 1.6
  @media up_to_L
    font-size $font-size-l
  @media L_and_up
    font-size $font-size-xl

.remark
  color $color-brand-main
  margin-bottom $space-l
  @media M_and_up
    text-align center
    span
      display block
      max-width 38em
      margin 0 auto

blockquote
  @extend $font-lightitalic
  line-height 1.6
  hyphens manual
  margin-top $space-l
  margin-bottom $space-l
  @media M_and_up
    margin-left $space-xxl
  p
    &:before
    &:after
      font-size 1em
    &:before
      content "„"
      margin-left -.9ch
      margin-right .2ch
    &:after
      content "“"
      margin-left .2ch
