.remark
  color $color-brand-main
  margin-bottom $space-l
  line-height 1.6
  @media up_to_L
    font-size $font-size-l
    hyphens manual
  @media L_and_up
    font-size $font-size-xl
.remark
  color $color-brand-main
  @media M_and_up
    text-align center
    span
      display block
      max-width 38em
      margin 0 auto
