include /wrap/wrap.pug
include /main/main.pug

+main()
  +wrap(true)
    :markdown-it(html linkify typographer)
      Erfolgreiche Software ist – wie der Name schon sagt – weich und flexibel:
      Anpassbar und vorbereitet auf Wachstum und Veränderung. Sie entsteht durch
      die Vereinigung fachlicher Anforderungen mit deren ästhetischer und funktionaler
      Abbildung.

      Wir setzen uns dafür ein, Design und Entwicklung in der praktischen Arbeit zu verbinden.
      Denn wir erleben in unserer gemeinsamen Arbeit, dass diese enge Zusammenarbeit **schnellere,
      bessere und nachhaltigere Ergebnisse** erzielt. Unsere Erfahrungen und Wissen dazu
      möchten wir hier teilen.
