.episode
  &__header
    margin-bottom $space-l
    text-align center

  &__heading
    margin-top 0

  &__title
    margin-bottom 0

  &__player
    display block
    width 320px
    margin 0 auto $space-l

  &__image
    width 100%

  &__audio
    width 100%
    margin-top -7px

  &__footer
    margin-top $space-l

  &__navtitle
    margin-top $space-l

  &__content
    blockquote
      font-size $font-size-m
      margin $space-m 0 $space-l
