*
  margin 0
  padding 0
  border 0
  outline 0
  box-sizing border-box
  vertical-align baseline

html
  @extend $font-base
  line-height 1.5
  overflow-x hidden
  @media up_to_S
    font-size 13px
  @media S_to_M
    font-size 14px
  @media M_to_L
    font-size 15px
  @media L_and_up
    font-size 16px

body
  color $color-text-default
  font-size $font-size-m
