.episodes
  margin-top $space-large

  &_group__title__count
    font-style italic
    font-weight 300
    font-size $font-size-large

  .episode__subtitle
    margin $space-tiny 0
    display block
    font-style italic
    font-weight 300
    font-size $font-size-base

.episode
  overflow hidden

  &__header
    margin-bottom $space-large
    text-align center

  &__heading
    margin-top 0

  &__image
    @media $mq-up_to_S
      display none
    @media $mq-S_and_up
      float left
      margin-right $space-large

  &__title
    margin-bottom 0

  &__play
    @extend $button-look
    margin-top $space-large

  &__footer
    margin-top $space-large
