.episodes
  margin-top $space-large

.episode__header
  margin-bottom $space-large

.episode__title
  margin-bottom 0

.episode__subtitle
  margin-top $space-normal

.episode__footer
  margin-top $space-large

.episode__subtitle
.episodes_group__title__count
  font-style italic
  font-weight 300
  font-size $font-size-normal
