@font-face
  font-display fallback
  font-weight normal
  font-family "DINLight"
  src url("/fonts/DINWeb-Light.woff") format("woff")

@font-face
  font-display fallback
  font-weight normal
  font-family "DINCondBold"
  src url("/fonts/DINWeb-CondBold.woff") format("woff")
