.footer
  color $color-white
  font-size $font-size-small
  hyphens auto

.people
  @extend $background-rulers
  padding-top $space-huge
  padding-bottom $space-huge
  background $color-brand-seco

.end
  padding-top $space-large
  padding-bottom $space-mega
  background darken($color-brand-seco, 5)
  a
    color inherit

.legal
  margin-top $space-large
