h1
h2
h3
h4
h5
h6
  +
    p
    ul
      margin-top $space-small

*
  +
    h2
    h3
    h4
    h5
    h6
    .container
      margin-top $space-large
    p
    ul
      margin-top $space-normal
    li
      margin-top $space-tiny

section + section
  margin-top $space-mega
