.main
  padding-top $space-mega
  padding-bottom $space-mega
  background-color $color-white
  overflow-x hidden

  .header + &
    @extend $background-rulers

  .safari &
    padding-top $space-huge

  *
    +
      h2
      h3
      .container
        margin-top $space-large
      ul
        margin-top $space-normal
      p
      li
        margin-top $space-normal

  h2
    +
      h3
        margin-top 0

  h3
    +
      p
      ul
        margin-top $space-normal

  ul
    margin-left 16px

  a
    color $color-brand-main
    text-decoration underline
    &:hover
    &:active
      text-decoration none

  i
  em
    font-weight 300

  b
  strong
    font-weight 800

