.main
  background-color $color-neutral-white
  overflow-x hidden

  html:not(.uiengine-preview) &
    @extend $background-rulers
    padding-top $space-xxl
    padding-bottom $space-xxl

  html:not(.uiengine-preview) .safari &
    padding-top $space-xl

    &:before
    &:after
      content none

  *
    +
      h2
      h3
      .container
        margin-top $space-l
      ul
        margin-top $space-m
      p
      li
        margin-top $space-m

  h2
    +
      h3
        margin-top 0

  h3
  h4
  p
  ul
  blockquote
    +
      p
      ul
      blockquote
        margin-top $space-m

  h3
  h4
  p
  ul
  blockquote
    +
      h3
      h4
        margin-top $space-l


  ul
    margin-left 16px

  a
    color $color-brand-primary
    text-decoration underline
    &:hover
    &:active
      text-decoration none

  i
  em
    @extend $font-lightitalic

  b
  strong
    @extend $font-bold

