.episode-list
  margin-top $space-l

  &__subtitle
    @extend $font-lightitalic
    font-size $font-size-xl
    &:before
      content " – "

.episode-list-item
  display flex

  &__media
    @media up_to_S
      display none
    @media S_and_up
      width 160px
      margin-right $space-l

  &__content
    flex 1

  &__subtitle
    @extend $font-lightitalic
    margin $space-xs 0
    display block
    font-size $font-size-m

  + .episode-list-item
    margin-top $space-xl

