.cta
  margin-top $space-l
  text-align center

  a.cta__button
    display inline-block
    padding $space-s $space-l
    border-radius $space-s
    color $color-neutral-white
    background $color-brand-primary
    text-decoration none
