.cta
  margin-top $space-large
  text-align center

  a.cta__button
    display inline-block
    padding $space-small $space-large
    border-radius $space-small
    color $color-white
    background $color-brand-main
    text-decoration none
