.navigation
  color $color-neutral-white
  background $color-background-dark
  @media up_to_XS
    font-size $font-size-s
  @media XS_and_up
    font-size $font-size-m

  &__tree
    display flex
    list-style none
    margin 0

  &__item
    border-top 3px solid transparent
    border-bottom 3px solid transparent
    &--current
      background rgba(0, 0, 0, .3)
      border-bottom 3px solid $color-neutral-white

    @media up_to_M
      &--patterns
        display none

  &__link
    display block
    color inherit
    text-decoration none
    padding $space-m $space-l
