include /remark/remark.pug

+remark()
  :marked
    <span>Die Entwicklung von **User Interfaces** ist ein inter&shy;disziplinärer Vorgang.</span>
    <span>Durch **Design** und **Entwicklung** wird **Fachliches** zu bedienbarer Software.</span>
    <!-- omit:code:start -->
    <span>Wir setzen uns dafür ein, durch enge Zusammenarbeit dieser Gewerke **schneller
    bessere und nachhaltigere Ergebnisse** zu erzielen.</span>
    <!-- omit:code:end -->
