include /remark/remark.pug
include /wrap/wrap.pug
include /main/main.pug

+main()
  +wrap()
    +quote("Mario Nebl")
      p Allein dadurch dass alle über die selbe Sache sprechen, spart man viel Zeit und erreicht eine andere Durchdringungstiefe in allen Gewerken.
