extends ../templates/page

block vars
  - const title = "Kontakt"
  - const episodes = mvb.articles.slice(0, 2)
  - const header = { title: title, type: "kontakt" }

block main
  +section(true)
    :marked
      UI engineering ist keine Agentur, kein Softwarehaus, kein Designstudio.
      Mit dieser Website, dem Podcast und allen Inhalten möchten wir unsere
      Erfahrungen teilen, Interviews machen, Diskussionen führen, die eine
      Arbeitserleichterung für Designer, Entwickler und Fachlichkeitsrepräsentaten
      mit sich bringt. Wir sind:

  +section(false)
    +container()
      +block()
        :marked
          #### [Jan Persiel](http://janpersiel.com/)

          Jan Persiel betreibt in Hamburg das Designstudio Persiel. Weiter arbeitet
          er auch freiberuflich als Designer und Trainer für Verlage, Agenturen sowie
          Softwarehäuser.

          Sein Fokus ist neben medienadäquaten Umsetzungen und Entwicklungen von
          Marken im digitalen Raum, die Konzeption und Gestaltung von Strukturen und
          Interfaces für Websites, Shops und anderen Plattformen.

      +block()
        :marked
          #### [Dennis Reimann](https://dennisreimann.de/)

          Dennis Reimann ist freiberuflicher Software&shy;entwickler. Er unterstützt
          Unternehmen und Teams bei der Realisierung von komplexen Webanwendungen –
          und dabei, das harte Webwork-Business mit Humor zu nehmen.

          Sein Schwerpunkt liegt im Frontend: Styleguides sind seine Bett-Lektüre,
          Performance und User Experience über den Standard hinaus sein Anspruch.

  +section(true)
    :marked
      Wir freuen uns über Feedback, Hinweise, Beiträge und natürlich auch Unterstützung
      dabei dieses Thema voranzutreiben. Teilt Inhalte, abonniert den Podcast, twittert
      mit **#uiengineering**. Vielen Dank!
