extends /layout

block title
  title UI engineering • Kontakt

block header
  header.header.header--kontakt
    h1.title Kontakt

block main
  section.people
    .wrap
      .container
        .block.person
          :marked
            #### [Jan Persiel](http://janpersiel.com/)

            Jan Persiel betreibt in Hamburg das Designstudio Persiel. Weiter arbeitet
            er auch freiberuflich als Designer und Trainer für Verlage, Agenturen sowie
            Softwarehäuser.

            Sein Fokus ist neben medienadäquaten Umsetzungen und Entwicklungen von
            Marken im digitalen Raum, die Konzeption und Gestaltung von Strukturen und
            Interfaces für Websites, Shops und anderen Plattformen.

        .block.person
          :marked
            #### [Dennis Reimann](https://dennisreimann.de/)

            Dennis Reimann ist freiberuflicher Software&shy;entwickler. Er unterstützt
            Unternehmen und Teams bei der Realisierung von komplexen Webanwendungen –
            und dabei, das harte Webwork-Business mit Humor zu nehmen.

            Sein Schwerpunkt liegt im Frontend: Styleguides sind seine Bett-Lektüre,
            Performance und User Experience über den Standard hinaus sein Anspruch.
