.header
  color $color-neutral-white
  background-color $color-brand-primary
  background-position center center
  background-repeat no-repeat
  background-size contain
  background-blend-mode hard-light
  display flex
  align-items center
  justify-content center
  overflow hidden
  &--hero
    @media up_to_XS
      height 200px
    @media XS_and_up
      height 40vh
    @media XS_to_S
      min-height 240px
      max-height 300px
    @media S_to_M
      min-height 280px
      max-height 400px
    @media M_and_up
      min-height 340px
      max-height 460px

  &:not(.header--hero)
    @media up_to_XS
      height 100px
    @media XS_to_S
      height 120px
    @media S_to_M
      height 160px
    @media M_and_up
      height 200px

  &--main
    background-image url(/images/header/main.png)

  &--podcast
    background-image url(/images/header/podcast.png)

  &--kontakt
    background-image url(/images/header/kontakt.png)

  &__logo
    @extend $font-bold
    letter-spacing -.02em
    text-align center
    @media up_to_XS
      font-size $font-size-xxl
    @media up_to_S
      font-size $font-size-boss
    @media S_to_M
      font-size $font-size-mega
    @media M_and_up
      font-size $font-size-ultra

  &__title
    @extend $font-bold
    letter-spacing -.02em
    text-align center
    @media up_to_XS
      font-size $font-size-xxl
    @media up_to_S
      font-size $font-size-boss
    @media S_and_up
      font-size $font-size-mega
