.block
  flex 1 1 100%
  text-align center
  @media $mq-up_to_M
    + .block
      margin-top $space-large
  @media $mq-M_and_up
    flex-basis 50%
    padding-left $space-large
    padding-right $space-large
    + .block:nth-child(n+2)
      margin-top 0
    + .block:nth-child(n+3)
      margin-top $space-huge
