.intro
  margin-bottom $space-large
  color $color-brand-main
  line-height 1.6
  @media $mq-up_to_M
    font-size $font-size-subhead
    hyphens manual
  @media $mq-M_to_L
    font-size $font-size-head
  @media $mq-L_and_up
    font-size $font-size-large
  @media $mq-M_and_up
    text-align center
    span
      display block
      max-width 38em
      margin 0 auto
