.footer
  @extend $background-rulers
  padding-top $space-huge
  padding-bottom $space-mega
  color $color-white
  background $color-dark-bg
  font-size $font-size-small
  hyphens auto
  text-align center

  .safari &
    padding-top $space-large

  a
    color inherit

  &__legal
    margin-top $space-large
    font-size $font-size-tiny
    color desaturate(lighten(#331833, 60), 15)
