.footer
  @extend $background-rulers
  padding-top $space-xl
  padding-bottom $space-xxl
  color $color-neutral-white
  background $color-background-dark
  font-size $font-size-s

  a
    color inherit

  .safari &
    padding-top $space-l

  &__block,
  &__imprint
    text-align center

  &__legal,
  &__imprint
    margin-top $space-l
    font-size $font-size-s
    color desaturate(lighten($color-brand-secondary, 60), 15)


