.footer
  @extend $background-rulers
  padding-top $space-huge
  padding-bottom $space-mega
  color $color-white
  background $color-dark-bg
  font-size $font-size-small
  hyphens auto

  a
    color inherit

  .safari &
    padding-top $space-large

  &__block,
  &__imprint
    text-align center

  &__legal,
  &__imprint
    margin-top $space-large
    font-size $font-size-tiny
    color desaturate(lighten(#331833, 60), 15)


