include /section/block.pug
include /section/container.pug
include /wrap/wrap.pug

mixin footer()
  footer.footer
    +wrap()
      +container()
      .footer__legal
        :markdown-it(html linkify typographer)
          Zusammen setzen [wir](/kontakt.html) uns für die enge Zusammenarbeit von Design und
          Entwicklung ein. Wir betreiben kein gemeinsames Unternehmen und sind
          auch im Rahmen dieser Initiative nicht gewerblich tätig.

      .footer__imprint
        a(href="/datenschutz.html") Datenschutzerklärung
