// converts breakpoints defined in json file to variables:
// { "S": 560 } -> $breakpoint-S = 560
json(pathjoin('..', '..', 'lib', 'breakpoints.json'), null, '$breakpoint-')

$mq-xs-width = unit($breakpoint-XS, 'px')
$mq-s-width = unit($breakpoint-S, 'px')
$mq-m-width = unit($breakpoint-M, 'px')
$mq-l-width = unit($breakpoint-L, 'px')

mq_to($to)
  s("screen and (max-width: %s)", $to - 1)
mq_from($from)
  s("screen and (min-width: %s)", $from)
mq_from_to($from, $to)
  s("screen and (min-width: %s) and (max-width: %s)", $from, $to - 1)
mq_from_and_print($from)
  s("screen and (min-width: %s), print", $from)

up_to_XS = mq_to($mq-xs-width)
up_to_S = mq_to($mq-s-width)
up_to_M = mq_to($mq-m-width)
up_to_L = mq_to($mq-l-width)

XS_to_S = mq_from_to($mq-xs-width, $mq-s-width)
S_to_M = mq_from_to($mq-s-width, $mq-m-width)
M_to_L = mq_from_to($mq-m-width, $mq-l-width)

XS_and_up = mq_from($mq-xs-width)
S_and_up = mq_from($mq-s-width)
M_and_up = mq_from($mq-m-width)
L_and_up = mq_from($mq-l-width)
