.episode
  overflow hidden

  &__header
    margin-bottom $space-large
    text-align center

  &__heading
    margin-top 0

  &__title
    margin-bottom 0

  &__player
    display block
    width 320px
    margin 0 auto $space-large

  &__image
    width 100%

  &__audio
    width 100%
    margin-top -7px

  &__footer
    margin-top $space-large

  &__nav__title
    margin-top $space-large
