doctype html
html(lang="de")
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title #{variation.title} • #{config.name} (#{config.version})
    link(href=h.assetPath("styles/main.css") rel="stylesheet")
  body.uiengine-preview
    include safari-sniffer
    block body
