doctype html
html.uiengine-preview(lang="de")
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title <!-- uiengine:title -->
    link(href=h.assetPath("styles/main.css") rel="stylesheet")
  body
    include safari-sniffer
    block body
