doctype html
html.uiengine-preview(lang="de" class!="<!-- uiengine:class -->")
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    title <!-- uiengine:title -->
    link(href=h.assetPath("styles/main.css") rel="stylesheet")
    link(href=h.assetUrl("images/apple-touch-icon.png") rel="apple-touch-icon")
  body
    include safari-sniffer
    block body
