include /episodelist/episodelist.pug
include /section/section.pug
include /main/main.pug

<!-- omit:code:start -->
+main()
  +section(true)
    <!-- omit:code:end -->
    +episodeList(episodes, "Staffel 1", "10 Episoden")
